.visor{
    text-align: center;
}

.visor input{
    background-color: rgb(229, 255, 253);
    width: 130px;
    height: 30px;
}

.botoes{
    text-align: center;
}

.botoes button{
    background-color: blue;
    color: white;
    height: 30px;
    width: 30px;
}

.botoes button.apagar{
    background-color: red !important;
    margin-right: 102px;
}